html, body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
}
a {
    color: white;
    font-weight: 400;
    /*text-decoration: none;*/
}